

.icon-24-edit:before { content: '\e800'; } /* '' */
.icon-24-eye-close-line-2:before { content: '\e801'; } /* '' */
.icon-24-outlined-action-download-upload-download:before { content: '\e802'; } /* '' */
.icon-24-outlined-action-download-upload-upload:before { content: '\e803'; } /* '' */
.icon-24-outlined-action-main-calendar:before { content: '\e804'; } /* '' */
.icon-24-outlined-action-main-clock:before { content: '\e805'; } /* '' */
.icon-24-outlined-action-main-delete-2:before { content: '\e806'; } /* '' */
.icon-24-outlined-directions-log-log-in:before { content: '\e807'; } /* '' */
.icon-24-outlined-action-main-search:before { content: '\e808'; } /* '' */
.icon-24-outlined-editor-action-zoom-out:before { content: '\e809'; } /* '' */
.icon-24-outlined-editor-action-zoom-in:before { content: '\e80a'; } /* '' */
.icon-24-outlined-editor-action-save:before { content: '\e80b'; } /* '' */
.icon-24-outlined-editor-align-align-center:before { content: '\e80c'; } /* '' */
.icon-24-outlined-editor-align-align-justify:before { content: '\e80d'; } /* '' */
.icon-24-outlined-directions-chevron-up:before { content: '\e80e'; } /* '' */
.icon-24-outlined-editor-font-type:before { content: '\e80f'; } /* '' */
.icon-24-outlined-directions-chevron-left:before { content: '\e810'; } /* '' */
.icon-24-outlined-editor-font-bold:before { content: '\e811'; } /* '' */
.icon-24-outlined-editor-align-align-right:before { content: '\e812'; } /* '' */
.icon-24-outlined-directions-chevron-right:before { content: '\e813'; } /* '' */
.icon-24-outlined-editor-font-italic:before { content: '\e814'; } /* '' */
.icon-24-outlined-directions-chevron-down:before { content: '\e815'; } /* '' */
.icon-24-outlined-editor-align-align-left:before { content: '\e816'; } /* '' */
.icon-24-outlined-editor-other-attachment-1:before { content: '\e817'; } /* '' */
.icon-24-outlined-editor-font-underline:before { content: '\e818'; } /* '' */
.icon-24-outlined-editor-other-link-2-1:before { content: '\e819'; } /* '' */
.icon-24-outlined-other-book-book:before { content: '\e81a'; } /* '' */
.icon-24-outlined-editor-other-link:before { content: '\e81b'; } /* '' */
.icon-24-outlined-other-book-book-open:before { content: '\e81c'; } /* '' */
.icon-24-outlined-other-file-and-folder-file-text:before { content: '\e81d'; } /* '' */
.icon-24-outlined-other-mail-inbox:before { content: '\e81e'; } /* '' */
.icon-24-outlined-other-location-home:before { content: '\e81f'; } /* '' */
.icon-24-outlined-other-mail-mail:before { content: '\e820'; } /* '' */
.icon-24-outlined-other-other-activity:before { content: '\e821'; } /* '' */
.icon-24-outlined-other-other-box-1:before { content: '\e822'; } /* '' */
.icon-24-outlined-other-other-clipboard:before { content: '\e823'; } /* '' */
.icon-24-outlined-other-other-dollar-sign:before { content: '\e824'; } /* '' */
.icon-24-outlined-other-person-user-check:before { content: '\e825'; } /* '' */
.icon-24-outlined-other-person-user-plus:before { content: '\e826'; } /* '' */
.icon-24-outlined-other-person-user:before { content: '\e827'; } /* '' */
.icon-24-outlined-other-person-users:before { content: '\e828'; } /* '' */
.icon-24-outlined-other-shop-shopping-cart:before { content: '\e829'; } /* '' */
.icon-24-outlined-suggested-symbol-check:before { content: '\e82a'; } /* '' */
.icon-24-outlined-suggested-symbol:before { content: '\e82b'; } /* '' */
.icon-24-outlined-suggested-circle-check:before { content: '\e82c'; } /* '' */
.icon-24-outlined-suggested-symbol-x:before { content: '\e82d'; } /* '' */
.icon-24-outlined-other-location-flag:before { content: '\e82e'; } /* '' */
.icon-24-outlined-other-other-tool-1:before { content: '\e82f'; } /* '' */
.icon-24-outlined-suggested-triangle-1:before { content: '\e830'; } /* '' */
.icon-24-outlined-action-main-settings-1:before { content: '\e831'; } /* '' */
.icon-24-outlined-other-phone-phone-2:before { content: '\e832'; } /* '' */
.icon-linkedin:before { content: '\e833'; } /* '' */
.icon-award:before { content: '\e834'; } /* '' */
.icon-instagram:before { content: '\e835'; } /* '' */
.icon-monitor:before { content: '\e836'; } /* '' */
.icon-whatsapp:before { content: '\e837'; } /* '' */
.icon-file-plus:before { content: '\e838'; } /* '' */
.icon-file:before { content: '\e839'; } /* '' */
.icon-facebook:before { content: '\e83a'; } /* '' */
.icon-document:before { content: '\e83b'; } /* '' */
.icon-download:before { content: '\e83c'; } /* '' */
.icon-eye-open:before { content: '\e83f'; } /* '' */
.icon-plus:before { content: '\e84c'; } /* '' */
.icon-box-plus:before { content: '\e84d'; } /* '' */
.icon-erase:before { content: '\e84e'; } /* '' */
.icon-left:before { content: '\e84f'; } /* '' */
.icon-list:before { content: '\e850'; } /* '' */
.icon-send:before { content: '\e851'; } /* '' */
.icon-user-x:before { content: '\e852'; } /* '' */
.icon-right:before { content: '\e887'; } /* '' */
.icon-toggler-icon:before { content: '\e888'; } /* '' */
.icon-info:before { content: '\e89b'; } /* '' */
